
/*need to use alphaVW unit! This will make things to scale with
zoom in/out*/
body{
    font-family: "Helvetica Neue", "Helvetica", "Arial";
}
tab {
    padding-left: 4.7vw;
}
cinza {
    color: rgb(195,195,195);
}
verde {
    color: rgb(181,230,29);
}
roxo {
    color: rgb(185,88,199);
}
azul {
    color: rgb(0,128,255);
}
laranja {
    color: rgb(255,127,39);
}

#main {
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
}

#cabecalho {
    margin: 0 auto;
    padding-top: 15%;
    padding-bottom: 10vw;
    width: auto;
    height: auto;
    background-color: rgb(30,31,33);
    position: relative;
}

#cabecalho-cartao {
    margin: auto;
    width: 45%;
    height: auto;
    border: 0.7vw double rgb(195,195,195);
}

#cabecalho-descricao{
    font-family: 'Courier New';
    font-size: 2vw;
    color: rgb(195,195,195);
    margin: auto;
    margin-top: 5vw;
    margin-bottom: 3vw;
    width: 19vw;
    height: 14.5vw;
    text-align: justify;
}

#cabecalho-nome {
    margin: 1vw auto;
    width: auto;
    text-align: center;
    font-family: 'Header';
    font-size: 3vw;
    color: rgb(195,195,195);
}
#cabecalho-bottom {
    position: absolute;
    bottom: 1.5vw;
    width: auto;
    margin-left: 47.7vw;
}

.img-bottom {
    width: 3vw;
    height: auto;
}

#link{
    text-align: center;
    margin: auto;
    width: auto;
    height: 10vw;
    background-color: rgb(71,72,77);
}
#link-images {
    padding-top: 2.5vw;
    margin: auto;
    width: auto;
    height: auto;
}

#info {
    height: auto;
    width: auto;
    margin: auto;
    background-color: rgb(30,31,33);
}

.infoImg {
    float: left;
    width: 27vw;
    height: auto;
    margin: 5vw;
}

#info-texto {
    width: auto;
    height: auto;
    padding-top: 7vw;
    margin-right: 10vw;
    font-family: 'Courier New';
    font-size: 1.2vw;
    text-align: justify;
    color: rgb(195,195,195);
}

#trabalhos {
    width: auto;
    margin: auto;
    height: auto;
    background-color: rgb(30,31,33);
    padding-top: 5%;
    font-family: 'Courier New';
    color: rgb(195,195,195);
}

#trabalhos-texto {
    margin: auto;
    height: auto;
    width: 70%;    
    text-align: justify;
    font-size: 2vw;
}

#trabalhos-textoaux{
    font-size: 1.5vw;
    padding-left: 7vw;
}

#trabalhos-imagens {
    margin: 5% auto;
    width: 80%;
    font-size: 1.2vw;
}

.imagens-texto {
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 3vw;
    padding-top: 3vw;
    float: left;
    width: 50%;
    height: 40vw;
    font-size: 1.2vw;
    text-align: justify;
}

#img-esquerda {
    margin: auto;
    width: 73.4%;
    text-align: center;
}

#img-direita {
    margin: auto;
    width: 73.4%;
    text-align: center;
}

#footnote {
    text-align: center;
    margin: 0% auto;
    width: 100%;
    background-color: rgb(30,31,33);
    font-size: 0.8vw;
    color: rgb(195,195,195);
    height: auto;
}

#background-img{
    background-color: rgb(30,31,33);
    margin: auto;
    width: auto;
    height: auto;
}

@font-face {
   font-family: "Header";
   src: url(./fonts/Blacksword.otf) format("opentype");
}
@font-face {
   font-family: "Dragon";
   src: url(./fonts/Dragon.otf) format("opentype");
}
@font-face {
   font-family: "Mountains";
   src: url(./fonts/Mountains.otf) format("opentype");
}

.img-panel{
    width: 20vw;
    height: 15vw;
    border-radius: 0.5vw;
 }
 
 .img-panel:hover {
	opacity: .5;
	-webkit-transition: all .9s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
 }

 .imgLink{
 	width: 5vw;
 	height: 5vw;
	margin: 0px 0.5vw 0px 0px;
 }

 .imgLink:hover{
 	opacity: .5;
	-webkit-transition: all .9s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
 }
hr.style-one {
    border: 0;
    height: 0.1vw;
    background-image: linear-gradient(to right, rgba(195,195,195,0.25), rgba(195,195,195,0.75), rgba(195,195,195,0.25));
    margin-top: -1.1vw;
     
}

/* Smartphones (portrait and landscape) ———– */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

#cabecalho {
    margin: 0 auto;
    padding-top: 15%; <!-- deixa isso como vw -->
    padding-bottom: 10vw;
    width: auto;
    height: auto; <!-- setar um valor definido (auto, vw etc) -->
    background-color: rgb(30,31,33);
    position: relative;
}


}